*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
  }
  .container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
  }
  .to-do{
    width:100%;
    max-width: 540px;
    background: #ffffff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
  .to-do h2{
    padding: 20px;
   
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }
  input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
  }
  button{
    border:none;
    outline: none;
    padding: 16px 50px;
    background: #f78708;
    color: #fbfbfb;
    cursor: pointer;
    border-radius: 40px;
  }
  ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
  ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #37ff00;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
  }
  ul li.checked{
    color: rgb(237, 6, 6);
    text-decoration: line-through;
  }
  ul li.checked::before{
    background-color: #c24141;
  }
  ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 22px;
    color:#000000;
    line-height: 40px;
    text-align: center;

  }
  ul li span:hover{
    background: #e4b4b4;
  }